@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text|ZCOOL+XiaoWei&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body {
    /* font-family: 'Big Shoulders Text', cursive; */
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #aaa;
    width: 100%;
}

nav {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e18;
    background: linear-gradient(to bottom, #d3a, #856 100%);        
    padding: 8px 0;
    padding: 30px 8px;
    margin-top: 0px;
    
}
.left {
    justify-content: center;
    align-items: center;
}

.left img {
    margin-left: 1em;
    padding: 15px 5px;
}

.right {
    display: flex;
}
.right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: 20px;
    margin-right: 1em;
    padding: 15px 5px;
}


.right ul li {
    margin-left: 10px;
}


.right ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    color: #fff;
    text-shadow: 2px 2px #822;    
    font-weight: bold;
    text-align: center;
}
.right ul li a:hover {
    background-color: rgba(125, 125, 200, .4);
    padding: .4em;
}
.search {
    border-radius: 5px;
    border: 2px solid #a88;
    height: 1.8em;
}
.search:focus {
    background-color: rgb(212, 186, 100);
}

.right ul li form i {
    color: white;
}

@media(max-width: 720px) {
    body {
        width: 100vw;
    }
    nav {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 8px;        
        position: absolute;
        top:
    }

    .left {        
        align-items: center;
    }

    .left img {
        align-items: flex-end;
    }
    .right ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    }
    .search {
        flex: 1;
    }
}

#map-container {
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: #e18;
    background: linear-gradient(to bottom, #d3a, #856 100%);   
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding: 30px 8px;  
    position: absolute;
    bottom: 0px;
    width: 100vw;
}

footer ul {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    list-style: none;
}

footer ul li {
    margin: 5px;    
}

.fab {
    color: #fff;
}

footer p {
    margin-top: 5px;
}